.ongletItem {
    min-width: 0;
    flex: 1;
    cursor: pointer;
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid var(--dark-color);
    background-color: var(--light-color);
    padding: 5px;
}

.ongletItem:not(:last-child) {
    border-right: none;
}

.hasFocus {
    background-color: rgba(108, 117, 125, 0.2);
}

