.presentation_container, .pedagogique_container, .reglement_container {
    margin-bottom: 40px;
}

.presentation_container .btnModifier, .pedagogique_container .btnModifier, .reglement_container .btnModifier, .btnAjouter {
  background-color: var(--primary-color);
  color: var(--light-color);
  display: block;
}

.presentation_container .btnModifier, .pedagogique_container .btnModifier, .reglement_container .btnModifier {
  margin-right: 10px;
}

.btnModifierContainer {
  display: flex;
}

.presentation_container h2, .pedagogique_container h2, .reglement_container h2 {
  margin-bottom: 10px;
  text-align: center;
}

.loadingContainer {
  text-align: center;
}

.btnModifier_and_btnSupprimer_container {
  display: flex;
  margin-top: 20px;
  margin-left: auto;
}

.presentation_container .btnSupprimer, .pedagogique_container .btnSupprimer, .reglement_container .btnSupprimer  {
  background-color: var(--danger-color);
  display: block;
}

.btnAjouter {
  margin: 50px auto;
}

.messageToDisplayIfNoTexte {
  color: gray;
}

  