.loadingContainer {
    text-align: center;
}

.photoContainer {
    width: 300px;
    padding: 10px;
    margin: 0 auto 30px;
    display: flex;
    align-items: center;
}

.img_enfant_employe {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    text-align: center;
    margin-right: 20px;
}

.ongletsContainer {
    display: flex;
    width: 100%;
}

.contentOngletContainer {
    border-left: 1px solid var(--dark-color);
    border-right: 1px solid var(--dark-color);
    border-bottom: 1px solid var(--dark-color);
    padding: 20px;
    width: 100%;
}

.btnEnfantContainer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btnSupprimer {
    background-color: var(--danger-color);
}

.btnChangerSection, .btnModifier {
    background-color: var(--info-color);
}

.repasContainer, .santeContainer, .sortie, .observationContainer {
    margin-top: 10px;
}

.autorisationsContainer {
    margin-bottom: 20px;
    line-height: 25px;
}

.enfantContainer {
    width: 100%;
}

.btnAjouterContainer, btnModifierContainer {
    display: flex;
    justify-content: center;
}

.btnAjouter {
    background-color: var(--primary-color);
}

.data {
    color: gray;
    font-weight: 600;
}

.parentItem {
    margin-bottom: 10px;
}

.parentItem li {
    list-style: none;
}

.autorisationsContainer {
    margin-top: 10px;
}

.representantItem:not(:last-child) {
    margin-bottom: 5px;
}

.btnsContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}
