.ongletContainer {
    display: flex;
}

.loadingContainer {
    text-align: center;
}

.photosContainer {
    border-left: 1px solid var(--dark-color);
    border-right: 1px solid var(--dark-color);
    border-bottom: 1px solid var(--dark-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    justify-items: center;
    align-items: center;
}

.img_enfant_employe {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    text-align: center;
}

.photoItem {
    width: 70px;
    padding: 10px;
}

.prenomItem {
    text-align: center;
}

.btnAjouter_enfant_employe {
    margin-left: auto;
    background-color: var(--primary-color);
}

.btnAjouter_enfant_employe_container {
    display: flex;
    margin-top: 20px;
}