.title {
    margin-bottom: 20px;
    text-align: center;
}

.addEnfantSelect {
    margin-bottom: 15px;
}

.checkboxContainer {
    display: flex;
    gap: 8px;
}

.dateNaissanceContainer {
    margin-bottom: 15px;
}

.heureContainerInput {
    margin-top: 15px;
}

.heureContainerInput input {
    width: 150px;
}

.btnValider {
    display: block;
    margin-left: auto;
    background-color: var(--success-color);
    margin-top: 20px;
    min-width: 100px;
}

.photoInputContainer {
    margin-top: 15px;
}
