.connexionBtn {
    background-color:dodgerblue;
    color: white;
    display: inline-block;
    margin-top: 20px;
}

.containerBtnConnexion {
    text-align: center;
}

.spinner {
    width: 10%;
    height: 10%;
    object-fit: cover;
    margin-right: 5px;
}