.home_container {
  min-height: 100%;
  position: relative;
  /* padding: 100px; */
}

.presentation_container, .pedagogique_container, .reglement_container {
  margin-bottom: 30px;
}

.main_container {
  max-width: 900px;
  margin: 0 auto;
  padding: calc(70px + 70px) 30px 30px;
}