.deconnexionBtn {
    background-color: #f1f1f1;
    color: #333;
    display: block;
    font-size: 16px;
    font-weight: 500;
}

@media (min-width: 344px) and (max-width: 767px) {
    .deconnexionBtn {
        font-size: 12px;
    } 
    .message_error_api {
        font-size: 12px;
    }
}

@media (width: 360px){
    .message_error_api {
        margin: 0;
    }
}

.message_error_api {
    color: red;
    margin: 2px 0;
    text-align: center;
}

.deconnexionContainer {
    display: flex;
    flex-direction: column;
}
