*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
  height: 100%;
  margin: 0;
}

html {
  height: 100vh;
}

label, input {
  display: block;
}

input[type="text"], input[type="password"] {
  border: 2px solid #111;
  font-size: 16px;
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  margin-bottom: 15px;
}

label:not(.labelCheckbox) {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
}

form {
  background-color: white;
  border-radius: 5px;
}

.errorAppelApi {
  margin-bottom: 10px;
  text-align: center;
  background-color: red;
  color: white;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
}

button {
  padding: 7px 10px;
  border-radius: 4px;
  border: 2px solide #111;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  max-width: 150px;
}

.spinner {
  width: 10%;
  height: 10%;
  object-fit: cover;
  margin-right: 5px;
}

/* Custom properties */
:root {
  --primary-color: #0d6efd;
  --secondary-color: #6c757d;
  --success-color: #198754;
  --info-color: #0dcaf0;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #212529;
  --light-orange: #f2d0a9ff;
}
