.password_input {
    padding: 8px 40px 8px 8px;
}

.labelPassword {
    margin-top: 20px;
}

.inputPasswordContainer {
    position: relative;
    width: 100%;
}

.eyeIcone {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
